* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(4deg, #1d0000, #20205b);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    width: 300px;
    height: 250px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.calendar .left,
.calendar .right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    flex-direction: column;
}

.left {
    width: 58%;
}

.right {
    width: 42%;
    background: #f4351e;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#date {
    font-size: 100px;
    line-height: 90px;
}