* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: #0b0423;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > div {
  width: 300px;
  min-height: 400px;
  margin: 20px;
  border: 2px dashed #fff;
}

.list {
  height: 60px;
  margin: 30px;
  color: #fff;
  background: #e91e63;
  display: flex;
  align-items: center;
  cursor: grab;
}

.list img {
  width: 10px;
  margin-left: 10px;
  margin-right: 10px;
}