* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3fbff;
}

.img_box {
    position: relative;
    width: 60%;
    margin: auto;
    line-height: 0;
    background-image: url('/images/background.png');
    overflow: hidden;
}

.img_wrap {
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

span {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    cursor: ew-resize;
    background: #fff;
}

.arrow {
    position: absolute;
    width: 40px;
    top: 50%;
    margin-top: -20px;
    margin-left: -20px;
}