@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

:root {
  /*======== Colors (RGBA) ========*/
  /* Color mode RGBA (Red, Green, Blue, Alpha) */
  --first-color: rgba(68, 178, 102, 1);
  --white-color: rgba(238, 247, 242, 1);
  --body-color: rgba(242, 255, 248, 1);

  /*======== Font and typography ========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Unbounded", sans-serif;
  --h3-font-size: 1.25rem;
  --small-font-size: 0.875rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* card */
.card {
  max-width: 1120px;
  height: 100vh;
  margin-inline: auto;
  display: grid;
  place-items: center;
}

.card__article {
  position: relative;
  width: 320px;
  box-shadow: 0 8px 24px rgba(26, 66, 38, 0.2);
  border: 1px solid var(--white-color);
  border-radius: 5.5rem;
  padding: 2rem 1rem 1.5rem;
  text-align: center;
  overflow: hidden;
}

.card__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.4s;
}

.card__data,
.card__actions {
  position: relative;
  z-index: 10;
  color: var(--white-color);
}

.card__perfil {
  width: 80px;
  border: 4px solid var(--white-color);
  border-radius: 50%;
  margin: 0 auto 0.5rem;
}

.card_name {
  font-size: var(--h3-font-size);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card__descrtption {
  font-size: var(--small-font-size);
  font-weight: 300;
  margin-bottom: 1.75rem;
}

.card__actions {
  display: grid;
  justify-content: center;
}

.card__button {
  width: 48px;
  height: 48px;
  border: none;
  outline: none;
  border-radius: 50%;
  background: var(--first-color);
  color: var(--white-color);
  font-size: 1.5rem;
  box-shadow: 0 4px 12px rgba(13, 34, 20, 0.7);
  display: grid;
  place-items: center;
  cursor: pointer;
  z-index: 10;
}

.card__more,
.card__close {
  position: absolute;
  transition: opacity 0.1s, transform 0.4s;
}

.card__close {
  opacity: 0;
}

.card__article:hover .card__bg {
  transform: scale(1.2);
}

.card__menu {
  background-color: var(--first-color);
  padding: 0.35rem 1rem;
  border-radius: 4rem;
  box-shadow: 0 4px 12px rgba(13, 34, 20, 0.7);
  display: flex;
  column-gap: 5rem;
  position: absolute;
  justify-self: center;
  align-self: center;
  overflow: hidden;
  width: 48px;
  transition: width 0.4s;
}

.card__icons {
  display: flex;
  column-gap: 0.5rem;
}

.card__icon {
  font-size: 1.25rem;
  cursor: pointer;
  transform:scale(0);
  pointer-events: none;
  opacity: 0;
  transition: transform 0.4s;
}

.card__icons:nth-child(1) .card__icon:nth-child(2) {
  transition-delay:0.2s;
}

.card__icons:nth-child(1) .card__icon:nth-child(1) {
  transition-delay:0.4s;
}

.card__icons:nth-child(2) .card__icon:nth-child(2) {
  transition-delay:0.2s;
}

.card__icons:nth-child(2) .card__icon:nth-child(1) {
  transition-delay:0.4s;
}

.show-menu {
  width: 212px;
}
.show-menu .card__icon {
  opacity: 1;
  transform: scale(1);
  pointer-events:initial;
}

.show-icon .card__more {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .card__close  {
  opacity: 1;
  transform:rotate(90deg);
}

/* 반응형 */
@media screen and (max-width:330px) {
  .card {
    margin-inline: 1rem;
  }

  .card__article {
    width: 100%;
  }
}