* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul,li,ol {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 10vh;
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 20px;
  z-index: 1000;
}

.sidebar .logo {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  transition: background 0.3s, color 0.3s;
  border-radius: 4px;
}

.sidebar ul li a:hover,
.sidebar ul li a:active {
  background-color: #ff6600;
  color: #fff;
}

.content {
  margin-left: 250px;
  padding: 40px;
  width: 100%;
  transition: margin-left 0.3s ease;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}